#Task 1

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [12]:
s = list(range(2000,3001))
m=[]
for i in s:
  if(i%5 ==0 and i%7 == 0):
    m.append(i)
print(m)

[2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975]

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [ ]:
f_name = input("Enter First name")
l_name = input("Enter Last name")
full = f_name + " " + l_name
rev = []
i = len(full)
while i > 0:
  rev.append(full[i-1])
  i -= 1
print(''.join(rev))

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r^3

In [30]:
from math import pi
dia = 12
r= dia/2
vol = 4 / 3 * (pi) * (r**3)
vol

904.7786842338603

#Task 2

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [31]:
csv = input("Enter Comma separated values")
l = csv.split(',')
print(l)

Enter Comma separated values5,6,7,89,32,1
['5', '6', '7', '89', '32', '1']

Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [52]:
for i in range(1,7):
  if(i<6):
    print("*"*i)
  elif(i==6):
    for j in range (6,0,-1):
      print("*"*j)

*
**
***
****
*****
******
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [39]:
data = input()

rev = []
i = len(data)
while i > 0:
  rev.append(data[i-1])
  i -= 1
print(''.join(rev))

sbqjdk
kdjqbs

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
  having solemnly resolved to constitute India into a SOVEREIGN, !
    SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
      and to secure to all its citizens

In [110]:
case = input()
split_data = case.split(" ")
j=1
end1 = len(split_data)-1
for i in range(0,end1):
  if(split_data[i].isupper() and split_data[i+1].isupper()):
    #all caps
    print(split_data[i], end = ' ')
  elif( (split_data[i].isupper() and split_data[i+1].islower()) or (split_data[i].islower() and split_data[i+1].isupper())):
    #interchanges
    print(split_data[i], end = ' ' )
    if(j>=1):
      print("\n ")
      print("\t"*j, end = " ")
      j+=1
  elif(split_data[i].islower() and split_data[i+1].islower()):
    #all lower
    print(split_data[i],end = ' ')
  if(i==end1-1):
    print(split_data[i], split_data[i+1])

 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens
WE, THE PEOPLE OF INDIA,

	 having solemnly resolved to into a

		 SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC

			 and to secure to all its its citizens