In [1]:
import sqlite3

In [2]:
c = sqlite3.connect("bs")

In [3]:
c.execute("drop table if exists abc")

In [4]:
c.execute("create table abc(id int, name text, score int)")

In [5]:
c.execute("insert into abc(id, name, score) values(23, 'Sudh', 44)")

In [6]:
c.commit()

In [7]:
c.execute("insert into abc(id, name, score) values(2, 'Bh', 444)")

In [8]:
c.commit()

In [9]:
list(c.execute("select * from abc"))

[(23, 'Sudh', 44), (2, 'Bh', 444)]